html {
  background-color: #fefdf8;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}


/* LINKS */
a:link {
  color: #4d9a00;
  text-decoration: none;
}

a:visited {
  color: #4d9a00;
  text-decoration: none;
}

a:hover {
  color: #408000;
  text-decoration: none;
}

a:active {
  color: #4d9a00;
  text-decoration: none;
}

.readmore {
  color: #408000;
}

.profile-picture {
  border-radius: 50%;
}

/*
* MEDIA BREAKPOINTS
*/


.header-container{
  margin: 2rem auto;
}

.layout-container{
    /* width: 100vw; */
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .layout-container{
    border: 5px solid red;
    padding: 0 1.5rem;
  }

  .nav-list{
    display: none;
  }

  nav.nav-container{
    display: flex;
    justify-content: space-between;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .layout-container{
    border: 5px solid green;
    padding: 0 2rem;
  }

  ul.nav-list{
    float: right;
    list-style: none;
  }

  .burger-nav-list{
    display: none;
  }

  .bm-burger-button {
    display: none;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .layout-container{
    border: 5px solid blue;
  }

/*
* journal page ********************************************
*/
.post-container{
  /* display: flex;
  justify-content: space-between; */
  height: 75vh;
  overflow: scroll;

}

.post-scroll{
  margin-left: 50%;
  margin-bottom: 1rem;
  width: 45%;
  /* height: 25vh; */
  /* display: inline-block; */
  top: 0;
  float: right;

}

.post-sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 45%;
  float: left;
  height: 0vh;
  /* display: inline-block; */
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .layout-container{
    border: 5px solid orange;
  }

/*
* journal page ********************************************
*/

.post-scroll{
  width: 55%;
}

.post-sticky{
  width: 35%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .layout-container{
    border: 5px solid pink;
    padding: 0 3rem;
  }

  /*
* journal page ********************************************
*/

.post-scroll{
  width: 60%;
}

.post-sticky{
  width: 30%;
}

}

/*
* Burger Menu
*/

/* Position and sizing of burger button */
.bm-burger-button {
  /* position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px; */
  width: 36px;
  height: 30px;
  position: relative;
  float: right;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #4d9a00;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*
* about page
*/
.about-body{
  display: flex;
  justify-content: space-between;
}

.about-text{
  margin-left: 3rem;
  width: 65%;
  height: 150vh;
  display: inline-block;
}

.about-image{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 25%;
  height: 25vh;
  display: inline-block;
}

