
.profilePicture {
  border-radius: 50% 50% 0% 0%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: 15px solid pink;
}


/*
* MEDIA BREAKPOINTS *********************************
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}

.aboutBody{
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: 60vh;
}

.aboutText{
  margin-left: 3rem;
  width: 65%;
  height: 100%;
  /* display: inline-block; */
}

.aboutImage{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 25%;
  /* height: 25vh; */
  /* display: inline-block; */
  align-self: flex-start;
  height: auto;
}


/*
* PARALLAX ****************************************
*/

.parallax {
  position: relative;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective-origin-x: 100%;
  margin-bottom: 15px;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin-x: 100%;
}

/* .parallaxFront {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 100;
} */

.parallaxBase {
  transform: translateZ(0);
  z-index: 4;
}

.parallaxBack {
  transform: translateZ(-1px) scale(2);
  z-index: 3;
}
/*
.parallaxDeep {
  transform: translateZ(-600px) scale(3);
  z-index: 2;
} */

.parallaxGroup {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.pText{
  font-size: large;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.pTextBack {
  /* font-family: 'Archivo Black'; */
  font-size: 72pt;
  font-weight: 700;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 3px rgba(255, 255, 255, .25);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);;

}



.group1 {
  z-index: 5;
}

.group1Base{
  background-color: darkorange;
}

.group2 {
  z-index: 3;
}

.group2Back {
  background-color: darksalmon;
}

.group3 {
  z-index: 4;
}

.group3Base{
  background-color: coral;
}

.group4 {
  z-index: 2;
}

.group4Back {
  background-color: cornflowerblue;
}

.group5{
  z-index: 3;
}

.group5Base{
  background-color: powderblue;
}
