
.profilePicture {
  border-radius: 50%;
}


/*
* MEDIA BREAKPOINTS *********************************
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}

.aboutBody{
  display: flex;
  justify-content: space-between;
}

.aboutText{
  margin-left: 3rem;
  width: 65%;
  height: 150vh;
  display: inline-block;
}

.aboutImage{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 25%;
  height: 25vh;
  display: inline-block;
}
