.journalPostContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.journalImageContainer{
  flex: 1 0 30%;

}

.journalExcerptContainer{
  flex: 1 0 70%;
  padding-left: 15px;
}

.postDivider{
  display: block;
  width: 100%;
  height: 1px;
  background-color: burlywood;
  flex: 2 0 100%;
}

.journalPostDate{
  font-size: small;
}

.journalPostImage{
  margin: 0;
  padding: 0;
}

ul.journalTags{
  display: block;
  list-style: none;
  margin: 0;
}

.journalTag{
  display: inline-block;
  float: left;
  padding-right: 10px;
}

/*
* MEDIA BREAKPOINTS *********************************
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

